*{
    /* margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important; */
}
:root {
    --dark-blue:#162232;
    --dark-blue-secondary:#0e3f62;
    --blue:#087eb9;
    --sky:#20dad8;
    --gold-dark:#fa973f;
    --danger:#e3173c;
    --dark-green:#017e5f;
    --green:#21a03d;
    --white: whitesmoke;
    --info: #20dad8;
    --autocomplate-width: 200px;
}
.Vue-Toastification__toast-body {
    align-items: center;
    width: 100%;
    display: flex;
    margin-left: 10px !important;
    /* font-size: 3px !important; */
}
.Vue-Toastification__toast{
    padding: 10px !important;
}
body{
    max-height: 100vh !important;
}
aside{
    min-width: 100px;
}
.app-div{
    position: absolute;
}
.main-container{
    padding: 20px 20px !important ;
}
.navbar{
    color: whitesmoke;
    width: 100%;
    padding: 11px 25px !important;
    background-color: var(--dark-blue);
    border-bottom: 3px solid var(--gold-dark);
}
.navbar .nav-span{
    font-weight: 400;
    font-family: sans-serif;
    font-size: x-large;
}
.navbar .nav-action{
    float: right;
}
.add-btn{
    color: var(--dark-blue);
    background-color: var(--dark-green);
    padding: 5px 20px !important;
    border-radius: 10px;
}
.add-btn:hover{
    color: var(--white);
    background-color: var(--green);
    padding: 5px 20px !important;
    border-radius: 10px;
}
.add-btn:hover i{
    color: var(--gold-dark) !important;
}
.main-container{
    overflow: auto;
}
.main-container .main-s-table td, .main-container .main-s-table th{
    border: 0px solid black;
}
.main-container .main-s-table{
    border-collapse: collapse;
    text-align: center;
}
.main-container .main-s-table thead{
    font-weight: 700;
    text-transform: uppercase;
    background-color: #c1d1f0b2;
    margin: 10px;
    font-size: 10px;
}
.main-container .main-s-table thead td{
    border: 1px solid rgb(201, 212, 214);
}
.main-container .main-s-table thead td:first-child{
    width: 50px !important;
}
.main-container .main-s-table thead{
    border-radius: 10px;
    height: 40px;
}
.main-s-table tr {
    padding: 0px !important;
    font-size: 12px !important;
    color: rgb(94, 112, 129);
    background-color: #fff;
}
.main-s-table tr:hover{
    background-color: #EEEEEE;
    
}
.main-s-table {
    border-radius: 10px !important;
}
.status-span  span{
    color: var(--white);
    padding: 3px 8px !important;
    font-size: 12px;
    border-radius: 15px ;
}
.status-span  span i{
    font-size: 20px !important;
}
.action-btn{
    opacity: 0.5;
    border-radius: 60%;
    padding: 5px !important;
    margin: 2px !important;
}
.action-btn:hover{
    opacity: 1;
}
/* .selection */

.filter-div{
    position: fixed
    width 100%;
    border-radius: 10px;
    /* border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important; */
    padding: 1px 10px !important;
    margin-bottom: 10px !important;
    color: wheat;
    box-shadow: -1px 0.5px 5px black;
}
.footer {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.table-div{
    overflow-y: auto;
    overflow-x: hidden !important;
}
.pagination-input{
    margin: 0 10px !important;
    width: 40px;
    border: none;
}
.pagination-input input{
    border: none !important;
}
.pagination-input .v-text-field__slot input{
    border: none !important;
}

/* dialog */
.bg-blue{
    background-color: var(--blue) !important;
    color: var(--white) !important;
}
.bg-info{
    background-color: rgb(107, 52, 158) !important;
    color: #e0933b !important;
}

/* navbar tab */
.navbar .tabs{
    background-color: black !important;
}
.action-div{
    text-align: end;
}